# .dockerignore file
# This file keeps folder items from being sent (copied) to the docker daemon during build time.
.gradle
.idea
src
web
spring-annotations
spring-mvc
build.gradle
gradle*
readme.md
